/* genral */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: auto;
    width: 80%;
}
.clarfix::after{
    content: "";
    display: table;
    clear: both;
}
/* structure */
.row section{
    width: 32.7%;
    float: left;
    margin: 3% 0.3%;
    position: relative;
}
section > img{
    width: 100%;
}
/* banner */
.ban{
    color: white;
    width: 2.2rem;
    position: absolute;
    bottom: 1.5rem;
    font-size: .8rem;
    padding: 2px;
}
.heart{
    position: absolute;
    background-color: white;
    padding:.5rem .8rem;
    top: 1.5rem;
    right: 0;
    font-size: 1.4rem;
}
.hyde{
    display: none;
}
/* utility */
.red{
    background-color:#EB0037;
}
.green{
    background-color: #00875A;
    width: 4.2rem;
}
.side{
    left: 2.4rem;
}