/* genral */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    margin: auto;
    width: 80%;
}
.clarfix::after{
    content: "";
    display: table;
    clear: both;
}
/* structure */
.row section{
    width: 32.7%;
    float: left;
    margin: 3% 0.3%;
}
section > img{
    width: 100%;
}
/* banner */
.discount{
    background-color: red;
    width: 3rem;
    position: absolute;
}
.hyde{
    display: none;
}
